<div class="container">
  <h1>Seating Arrangement</h1>
  <h3>**Rules for seating**</h3>
    <ol>
      <li>Always seat passengers starting from the front row to back, starting from the left to the right</li>
      <li>Fill aisle seats first followed by window seats followed by center seats (any order in center seats)</li>
    </ol>

  <div class="legend">
    <div class="aisle">&#9632; - Aisle</div>
    <div class="window">&#9632; - Window</div>
    <div class="middle">&#9632; - Middle</div>
  </div>
  
  <div class="groups">
  <% @seating_arrangement.each_with_index do |group, g_index| %>
    <div class="group-item">
      <table>
      <% group.each_with_index do |rows, r_index| %>
        <tr>
          <% rows.each_with_index do |col, c_index| %>
            <td class="<%= @airplane.type_of_seat([g_index, r_index, c_index]) %>"><%= col %></td>
          <% end %>
        </tr>
      <% end %>
      </table>
    </div>
  <% end %>
  </div>
  <% if @not_seated > 0 %>
    <div class="red">There are <%= @not_seated %> passengers not seated.</div>
  <% end %>
  <p><%= link_to "Another seating arrangement", root_path %></p>
</div>
